@{
    ViewData["Title"] = "Home Page";
}

<p><a asp-controller="Employee" asp-action="Create">Добавить сотрудника</a></p>

<p><a asp-controller="Employee" asp-action="Index">Список сотрудников</a></p>

<p><a asp-controller="Project" asp-action="Create">Добавить проект</a></p>

<p><a asp-controller="Project" asp-action="Index">Список проектов</a></p>

